header {
    background-color: aquamarine;
}

body {
    background-color: cornsilk;
}

footer {
    background-color: greenyellow;
}

.center {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}

header .headline {
    font-size: 32px;
}

.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}


/* width, heightの統一 */
/* 変数ごとに分岐は難しい */
#enemy-image>img {
    width: 180px;
    height: 320px;
}

.img_dif1 {
    width: 200px !important;
    height: 300px !important;
}

.img_dif2 {
    width: 240px !important;
    height: 300px !important;
}


/* width="180" height="320"
width="180" height="320"
width="180" height="320"
width="180" height="320"
width="180" height="320"
width="180" height="320"
width="180" height="320"
width="180" height="320"
width="180" height="320"
width="180" height="320"
width="180" height="320"
width="180" height="320" */

/* width="200" height="300"
width="200" height="300"
width="200" height="300" */

/* width="240" height="300"
width="240" height="300"
width="240" height="300" */